body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	
	background: url("raghav.jpg");
	background-size: cover;
}

.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: url("raghav.jpg");
	text-align: center;
	-webkit-box-shadow: 0px 0px 25px 6px rgba(105,102,102,1);
-moz-box-shadow: 0px 0px 25px 6px rgba(105,102,102,1);
box-shadow: 0px 0px 25px 6px rgba(105,102,102,1);
}

.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;

}

.box input[type="text"] , .box input[type="password"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid #FF5733;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;

}


.box input[type="text"]:focus , .box input[type="password"]:focus{
	width: 280px;
	border-color:#FFFF00  ;

}


.box input[type ="submit"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid #FF5733;
	padding: 14px 40px;
	
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.box input[type = "submit"]:hover{
	background: #FF5733;
}
.yo a
{
	border:0;
	background: none;
	margin: 20px auto;
	text-align: center;
	border:2px solid #f5af19;
	padding: 14px 10px;
	width: 200px;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	text-decoration:none;
}
.yo a:hover
{
	background:#f5af19;
}